$font-family-sans-serif: "Fenwick";
$font-size-base: 0.5rem;
$enable-responsive-font-sizes: true;

// Define our own theme colors
$dark-blue: #305780;

// Override bootstrap theme
$body-color: $dark-blue;
$primary: $dark-blue;
$navbar-light-color: $dark-blue;
$navbar-light-hover-color: $dark-blue;

$h2-font-size:                $font-size-base * 2.75 !default;

@import "bootstrap/css/_variables";
