.logo-background {
	background-image: url('../img/pexels-guillaume-hankenne-2792025.jpg');
	background-size: cover;
	background-origin: border-box;
	background-position-x: center;
	background-position-y: -350px;
}

.rectangle {
	padding: 25px;
	margin: 25px;
	border-radius: 25px;
}

.rectangle-3d {
	box-shadow: 6px 6px 0px #7E9BB1;
	border-radius: 25px;
}

.fond-bleu {
	background: #A8D7DD;
}

.fond-bleu-fonce {
	background: #305780;
}

.fond-gris {
	background: #DDDDDD;
}

.fond-blanc {
	background: #FFFFFF;
}

.deco-bleu {
	text-decoration-color: #A8D7DD;
}

.deco-blanc {
	text-decoration-color: #FFFFFF;
}

.bouton-bleu {
	background: #305780;
	border: none;
	border-radius: 73px;
	color: #FFFFFF;
	padding: 5px 10px;
}

.signet-container {
	position: relative;
	height: 15em;
}

.signet-img {
	position: absolute;
	top: 8%;
	left: 2%;
}

.signet-nb {
	position: absolute;
	left:42%;
}

.signet-txt {
	position: absolute;
	top: 30%;
	left: 20%;
}
