
body {
	font-weight: 100;
}

b {
	font-weight: 700;
}

.logo-background {
	background-image: url('../img/pexels-guillaume-hankenne-2792025.jpg');
	background-size: cover;
	background-origin: border-box;
	background-position-x: center;
	background-position-y: -350px;
}

.rectangle {
	padding: 25px;
	margin: 25px;
	border-radius: 25px;
}

.rectangle-3d {
	box-shadow: 6px 6px 0px #7E9BB1;
	border-radius: 25px;
}

.fond-bleu {
	background: #A8D7DD;
}

.fond-bleu-fonce {
	background: #305780;
}

.fond-gris {
	background: #DDDDDD;
}

.fond-blanc {
	background: #FFFFFF;
}

.deco-bleu {
	text-decoration-color: #A8D7DD;
	text-decoration-thickness: 10%;
}

.deco-blanc {
	text-decoration-color: #FFFFFF;
	text-decoration-thickness: 10%;
}

.bouton-bleu {
	background: #305780;
	border: none;
	border-radius: 73px;
	color: #FFFFFF;
	padding: 10px 10px;
}

.bouton-bleu-clair {
	background: #7E92A9;
	border: none;
	border-radius: 73px;
	color: #FFFFFF;
	padding: 5px 10px;
}

.bouton-blanc {
	border: none;
	border-radius: 73px;
	padding: 5px 30px;
	background: #FFFFFF;
	color: #305780;
}

.signet-container {
	position: relative;
	height: 15em;
}

.signet-img {
	position: absolute;
	top: 8%;
	left: 2%;
}

.signet-nb {
	position: absolute;
	left:42%;
}

.signet-txt {
	position: absolute;
	top: 30%;
	left: 20%;
	font-weight: 300;
	font-size: 0.8rem;
}

.list-arrow {
	list-style-image: url('../img/fleche-liste.svg');
}

.txt-large {
	font-size: 1.25rem;
}

.txt-titre {
	font-size: 2.5rem;
}

img.portrait {
	width: 150px;
}

div.portrait {
	margin-left: 3rem;
	margin-right: 3rem;
	margin-top: 0;
	margin-bottom: 0;
}

input::placeholder {
	color: red;
	opacity: 1;
}

.form-custom {
	width: 93%;
}
