
// Override default bootstrap font
@font-face {
	font-family: "Fenwick";
	src: url("../fonts/Fenwick\ Light.ttf") format("truetype");
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: "Fenwick";
	src: url("../fonts/Fenwick.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Fenwick";
	src: url("../fonts/Fenwick\ Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}
$font-family-sans-serif: "Fenwick";
$font-size-base: 0.5rem;
$enable-responsive-font-sizes: true;

// Define our own theme colors
$dark-blue: #305780;

// Override bootstrap theme
$body-color: $dark-blue;
$primary: $dark-blue;
$navbar-light-color: $dark-blue;
$navbar-light-hover-color: $dark-blue;

@import "../bootstrap/scss/bootstrap";

// Set responsive font sizes
.headline {
	@include font-size($font-size-base * 5);
	font-weight: 700;
}
.large { @include font-size($font-size-base * 3); }
body, .normal, .form-control { @include font-size($font-size-base * 2.25); }
.small { @include font-size($font-size-base * 1.5); }
